    
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

    <!-- wp:template-part {"slug":"hero-video","tagName":"hero-video"} /-->

    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <div class="wp-block-group">

        <!-- wp:heading {"level": 2} -->
        <h2>Nuestra historia</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph --><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p><!-- /wp:paragraph -->
        <!-- wp:paragraph --><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p><!-- /wp:paragraph -->

    </div>
    <!-- /wp:group -->
       
    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <div class="wp-block-group">

        <!-- wp:heading -->
        <h2>Equipo</h2>
        <!-- /wp:heading -->

        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
        <div class="wp-block-group">

            <!-- wp:columns {"layout":{"type":"flex","allowOrientation":false}} -->
            <div class="wp-block-columns">
                <!-- wp:column {"width": "33.33%"} -->
                <div class="wp-block-column">
                    <!-- wp:image -->
                    <figure class="wp-block-image"><img alt=""/></figure>
                    <!-- /wp:image -->
                    <!-- wp:heading {level: 3} -->
                    <h3>Luis H. Porras</h3>
                    <!-- /wp:heading -->
                    <!-- wp:heading {level: 4} -->
                    <h4>Desarrollador web</h4>
                    <!-- /wp:heading -->
                    <!-- wp:paragraph --><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.</p><!-- /wp:paragraph -->
                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Website</a></div>
                        <!-- /wp:button -->

                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Mastodon</a></div>
                        <!-- /wp:button -->
                        
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Gitlab</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width": "33.33%"} -->
                <div class="wp-block-column">
                    <!-- wp:image -->
                    <figure class="wp-block-image"><img alt=""/></figure>
                    <!-- /wp:image -->
                    <!-- wp:heading {level: 3} -->
                    <h3>Carlos Escudero</h3>
                    <!-- /wp:heading -->
                    <!-- wp:heading {level: 4} -->
                    <h4>Artesano digital</h4>
                    <!-- /wp:heading -->
                    <!-- wp:paragraph --><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.</p><!-- /wp:paragraph -->
                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Website</a></div>
                        <!-- /wp:button -->

                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Mastodon</a></div>
                        <!-- /wp:button -->
                        
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Gitlab</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:column -->

            </div>
            <!-- /wp:columns -->

        </div>
        <!-- /wp:group -->

        <!-- wp:heading -->
        <h2>Colaboraciones habituales</h2>
        <!-- /wp:heading -->

        <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
        <div class="wp-block-group">

            <!-- wp:columns {"layout":{"type":"flex","allowOrientation":false}} -->
            <div class="wp-block-columns">
                <!-- wp:column {"width": "33.33%"} -->
                <div class="wp-block-column">
                    <!-- wp:image -->
                    <figure class="wp-block-image"><img alt=""/></figure>
                    <!-- /wp:image -->
                    <!-- wp:heading {level: 3} -->
                    <h3>Elena García Vicente</h3>
                    <!-- /wp:heading -->
                    <!-- wp:heading {level: 4} -->
                    <h4>Diseñadora UX</h4>
                    <!-- /wp:heading -->
                    <!-- wp:paragraph --><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.</p><!-- /wp:paragraph -->
                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Website</a></div>
                        <!-- /wp:button -->

                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Mastodon</a></div>
                        <!-- /wp:button -->
                        
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Gitlab</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width": "33.33%"} -->
                <div class="wp-block-column">
                    <!-- wp:image -->
                    <figure class="wp-block-image"><img alt=""/></figure>
                    <!-- /wp:image -->
                    <!-- wp:heading {level: 3} -->
                    <h3>Ignacio Aparicio</h3>
                    <!-- /wp:heading -->
                    <!-- wp:heading {level: 4} -->
                    <h4>Consultor de comunicación</h4>
                    <!-- /wp:heading -->
                    <!-- wp:paragraph --><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.</p><!-- /wp:paragraph -->
                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Website</a></div>
                        <!-- /wp:button -->

                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Mastodon</a></div>
                        <!-- /wp:button -->
                        
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Gitlab</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width": "33.33%"} -->
                <div class="wp-block-column">
                    <!-- wp:image -->
                    <figure class="wp-block-image"><img alt=""/></figure>
                    <!-- /wp:image -->
                    <!-- wp:heading {level: 3} -->
                    <h3>Hugo Bejarano</h3>
                    <!-- /wp:heading -->
                    <!-- wp:heading {level: 4} -->
                    <h4>Diseñador digital</h4>
                    <!-- /wp:heading -->
                    <!-- wp:paragraph --><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.</p><!-- /wp:paragraph -->
                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Website</a></div>
                        <!-- /wp:button -->

                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Mastodon</a></div>
                        <!-- /wp:button -->
                        
                        <!-- wp:button -->
                        <div class="wp-block-button"><a class="wp-block-button__link">Gitlab</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:column -->

            </div>
            <!-- /wp:columns -->

        </div>
        <!-- /wp:group -->
       
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
    <div class="wp-block-group">

        <!-- wp:heading -->
        <h2>Balance social</h2>
        <!-- /wp:heading -->
        
        <!-- wp:columns -->
        <div class="wp-block-columns">
            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:paragraph --><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p><!-- /wp:paragraph -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column -->
            <div class="wp-block-column">
               <!-- wp:image -->
               <figure class="wp-block-image"><img alt=""/></figure>
               <!-- /wp:image -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
       
    </div>
    <!-- /wp:group -->


</main>
<!-- /wp:group -->